#count{
	font-size: 10em;
	text-align: center;
}
#btn{
	text-align: center;
}
.btn{
	font-size: 3em;
	color:white;
	background-color:blue;
	border-radius: 20px;
	padding: 10px 10px;
}
.btn:hover{
	background-color:darkblue;
}
body{
	background-color: lightblue;
}
#title{
	font-size: 5em;
	text-align:center;
}